.copy-code {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 16px;
}

.docs-content>.container {}

.docs-content {
    background-color: #eaecec;
}

#section-content-page {
    background-color: white;
    margin-bottom: 0px;
    height: calc(100vh - 60px);
}

#section-content-page iframe {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0;
}

.docs-content section:first-child {
    padding-top: 0;
}